html {
	font-family: 'Montserrat', sans-serif;
	margin: 0 !important;
	padding: 0 !important;
}

.title {
	width: 100vw;
	font-family: 'Sacramento', cursive;
	font-size: 10vw;
	margin-top: 30vh;
	margin-right: 1vw;
	margin-bottom: 0;
	margin-left: 20vw;
}

a {
	text-decoration: none;
	color: black;
}

label {
	font-size: 14px;
	margin-right: 5px;
}

button {
	
	margin: 5px;
	background: transparent;
	border: none;
	transition: color 0.5s;
	
}


button:hover {
	color: orange;
}

.modal {
	background: '#E5CCEC';
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media(device-width: 600px) {
    .artistform {
        margin-bottom: 5vh !important
    }
}